.checkout-container {
  width: 95%;
  max-width: 60rem;
  margin: 0 auto;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  .product-table {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .total {
    width: 100%;
    font-size: 16px;
    text-align: right;

    span {
      font-weight: 500;
      font-size: 18px;
    }
  }
}
