.products-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 50px;
  width: 95%;
  max-width: 120rem;
  margin: 2rem auto;

  @media (min-width: 480px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 780px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (min-width: 1048px) {
    grid-template-columns: repeat(5, 1fr);
  }
}
